.front-page{
    
    margin-top: 100px;
    display: grid;
    grid: 1fr 1fr;

    height: 1000px;

    position:relative;
}


.picture{
    position: absolute;

    height: 300px;
    width: 300px;
    border-radius: 150px;

    margin-top: 50px;
    margin-left: 40px;
}

.background-pic{
    margin-top: 20px;
    position: absolute;
    height: 350px;
    width: 1500px;
    border-style: solid;
    border-radius: 30px;
}


.front{
    width: 1500px;
    height: 350px;
}

.Personal{
    margin-top: 50px;
    color: white;
    position: absolute;
    margin-left: 450px;
}

.name{
    
    color: white;
    position: absolute;
    margin-top: 90px;
    margin-left: 450px;
    font-family: arial;
    font-size: 22px;
}

.class{
    color: white;
    position: absolute;
    margin-top: 120px;
    margin-left: 450px;
    font-family: arial;
    font-size: 22px;
}

.dream{
    color: white;
    position: absolute;
    margin-top: 150px;
    margin-left: 450px;
    font-family: arial;
    font-size: 22px;
}

.personal-account{
    color: white;
    position: absolute;
    margin-top: 180px;
    margin-left: 450px;
    font-family: arial;
    font-size: 22px;
}

.facebook{
    color: white;
    position: absolute;
    margin-top: 210px;
    margin-left: 450px;
    font-family: arial;
    font-size: 22px;
}

.instagram{
    color: white;
    position: absolute;
    margin-top: 240px;
    margin-left: 450px;
    font-family: arial;
    font-size: 22px;
}

.twitter{
    color: white;
    position: absolute;
    margin-top: 270px;
    margin-left: 450px;
    font-family: arial;
    font-size: 22px;
}

.gmail{
    color: white;
    position: absolute;
    margin-top: 300px;
    margin-left: 450px;
    font-family: arial;
    font-size: 22px;
}

a{
    color: rgb(36, 196, 228);
}

.second-part{
    background-color: lightblue;
    height: 620px;
    width: 1500px;

    margin-top: 380px;
    border-style: solid;
    border-radius: 30px;

    position: relative;
}

.my-hobby{
    position: absolute;

    border-style: solid;
    border-radius: 30px;

    background-color: lightgray;
    height: 500px;
    width: 600px;

    margin-top: 60px;
    margin-left: 20px;

    border-radius: 30px;
}

.hobby{
    font-family: arial;
    font-size: 20px;
    
    text-align: center;
    
}

.vid-sports{
    height: 300px;
    width: 300px;

    background-color: black;
    border-style: solid;
    border-radius: 20px;

    margin-left: 140px;
   

}

.mema{
    font-family: arial;
    font-size: 15px;

    text-align: center;
}

