body {  
    background-color: rgb(48, 48, 48);
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {background-color: rgb(48, 48, 48);}
    to {background-color: rgb(22, 21, 21);}
}  